In [1]:
import pandas as pd
import numpy as np
import yfinance as yf
import seaborn as sns
from yahoofinancials import YahooFinancials
from matplotlib import pyplot as plt

In [2]:
symbol_list = ['SHREECEM',
 'ESCORTS',
 'CIPLA',
 'TATAMTRDVR',
 'GRASIM',
 'SUPREMEIND',
 'INDHOTEL',
 'NTPC',
 'COALINDIA',
 'IOC']

In [3]:
start_date = "2021-04-01"
end_date = "2024-05-01"

In [4]:
data =[]
asset = []

In [5]:
for i in symbol_list:
    stock = pd.read_csv(f'{i}.csv', usecols=['Date','Close','Adj Close','Volume'])
    stock.set_index('Date', inplace=True)
    # Rename columns to include the stock symbol
    stock.columns = pd.MultiIndex.from_product([[i], stock.columns])
    #stock['Symbol'] = i
    data.append(stock)

In [6]:
type(data)

list

In [7]:
combined_df = pd.concat(data,axis=1)
# Reset index to ensure the 'Date' column is not part of the index
#combined_df.reset_index(inplace=True)

In [8]:
combined_df

                SHREECEM                              ESCORTS               \
                   Close     Adj Close    Volume        Close    Adj Close
Date
2021-04-01  29951.949219  29596.400391   52771.0  1274.050049  1261.246826
2021-04-05  30358.250000  29997.880859  124392.0  1235.349976  1222.935669
2021-04-06  30114.099609  29756.626953   52886.0  1222.050049  1209.769409
2021-04-07  30230.650391  29871.794922   40554.0  1239.900024  1227.440063
2021-04-08  31582.650391  31207.744141  148094.0  1270.750000  1257.979980
...                  ...           ...       ...          ...          ...
2024-04-25  23971.599609  23971.599609   48298.0  3250.649902  3250.649902
2024-04-26  24140.500000  24140.500000   15713.0  3291.699951  3291.699951
2024-04-29  24145.150391  24145.150391   25281.0  3287.350098  3287.350098
2024-04-30  24444.849609  24444.849609   74531.0  3358.550049  3358.550049
2024-03-15           NaN           NaN       NaN  2702.550049  2702.550049

                           CIPLA                        TATAMTRDVR  ...  \
             Volume        Close    Adj Close   Volume       Close  ...
Date                                                                ...
2021-04-01  1597734   818.299988   796.767700  1910949  131.449997  ...
2021-04-05   887686   819.750000   798.179626  2920638  131.149994  ...
2021-04-06  1208009   836.150024   814.148071  4569120  132.800003  ...
2021-04-07  1011855   840.849976   818.724365  2404472  133.600006  ...
2021-04-08  1285015   842.000000   819.844116  2459821  136.699997  ...
...             ...          ...          ...      ...         ...  ...
2024-04-25   161514  1406.199951  1406.199951  2027213  672.500000  ...
2024-04-26   228661  1409.150024  1409.150024   695034  672.700012  ...
2024-04-29   117008  1408.000000  1408.000000  1082487  675.450012  ...
2024-04-30   588700  1400.000000  1400.000000  1327606  682.250000  ...
2024-03-15   204337  1488.050049  1488.050049  1537072  624.049988  ...

              INDHOTEL        NTPC                         COALINDIA  \
                Volume       Close   Adj Close    Volume       Close
Date
2021-04-01   2263544.0  107.900002   91.935677  13753303  132.149994
2021-04-05   2221575.0  106.300003   90.572426  15666099  129.800003
2021-04-06   1469651.0  106.050003   90.359390  17393454  130.300003
2021-04-07   1718568.0  105.449997   89.848175  15692013  131.250000
2021-04-08   1934449.0  105.000000   89.464752  11394998  131.649994
...                ...         ...         ...       ...         ...
2024-04-25  10431160.0  359.200012  359.200012  19865014  452.450012
2024-04-26   6897520.0  356.000000  356.000000  10986589  455.799988
2024-04-29   5777304.0  363.000000  363.000000  13652173  453.250000
2024-04-30   4807390.0  363.200012  363.200012  14566548  454.299988
2024-03-15         NaN  316.299988  316.299988  43285007  415.250000

                                         IOC
             Adj Close    Volume       Close   Adj Close     Volume
Date
2021-04-01   99.170990   6226087   62.099998   50.907909   22265911
2021-04-05   97.407463   9012457   60.500000   49.596272   25774072
2021-04-06   97.782684   6689423   60.766666   49.814880   16560441
2021-04-07   98.495605   5657926   61.799999   50.661972   20614233
2021-04-08   98.795776   9330363   61.966667   50.798607   19175106
...                ...       ...         ...         ...        ...
2024-04-25  452.450012  10858594  170.199997  170.199997   14757776
2024-04-26  455.799988   7209435  171.550003  171.550003   17306072
2024-04-29  453.250000   5305655  176.750000  176.750000   40527426
2024-04-30  454.299988   6021793  168.850006  168.850006   67530236
2024-03-15  415.250000  25435001  161.000000  161.000000  108719847

[760 rows x 30 columns]

In [9]:
combined_df.columns.names=['Company','Info']
combined_df

Company         SHREECEM                              ESCORTS               \
Info               Close     Adj Close    Volume        Close    Adj Close
Date
2021-04-01  29951.949219  29596.400391   52771.0  1274.050049  1261.246826
2021-04-05  30358.250000  29997.880859  124392.0  1235.349976  1222.935669
2021-04-06  30114.099609  29756.626953   52886.0  1222.050049  1209.769409
2021-04-07  30230.650391  29871.794922   40554.0  1239.900024  1227.440063
2021-04-08  31582.650391  31207.744141  148094.0  1270.750000  1257.979980
...                  ...           ...       ...          ...          ...
2024-04-25  23971.599609  23971.599609   48298.0  3250.649902  3250.649902
2024-04-26  24140.500000  24140.500000   15713.0  3291.699951  3291.699951
2024-04-29  24145.150391  24145.150391   25281.0  3287.350098  3287.350098
2024-04-30  24444.849609  24444.849609   74531.0  3358.550049  3358.550049
2024-03-15           NaN           NaN       NaN  2702.550049  2702.550049

Company                    CIPLA                        TATAMTRDVR  ...  \
Info         Volume        Close    Adj Close   Volume       Close  ...
Date                                                                ...
2021-04-01  1597734   818.299988   796.767700  1910949  131.449997  ...
2021-04-05   887686   819.750000   798.179626  2920638  131.149994  ...
2021-04-06  1208009   836.150024   814.148071  4569120  132.800003  ...
2021-04-07  1011855   840.849976   818.724365  2404472  133.600006  ...
2021-04-08  1285015   842.000000   819.844116  2459821  136.699997  ...
...             ...          ...          ...      ...         ...  ...
2024-04-25   161514  1406.199951  1406.199951  2027213  672.500000  ...
2024-04-26   228661  1409.150024  1409.150024   695034  672.700012  ...
2024-04-29   117008  1408.000000  1408.000000  1082487  675.450012  ...
2024-04-30   588700  1400.000000  1400.000000  1327606  682.250000  ...
2024-03-15   204337  1488.050049  1488.050049  1537072  624.049988  ...

Company       INDHOTEL        NTPC                         COALINDIA  \
Info            Volume       Close   Adj Close    Volume       Close
Date
2021-04-01   2263544.0  107.900002   91.935677  13753303  132.149994
2021-04-05   2221575.0  106.300003   90.572426  15666099  129.800003
2021-04-06   1469651.0  106.050003   90.359390  17393454  130.300003
2021-04-07   1718568.0  105.449997   89.848175  15692013  131.250000
2021-04-08   1934449.0  105.000000   89.464752  11394998  131.649994
...                ...         ...         ...       ...         ...
2024-04-25  10431160.0  359.200012  359.200012  19865014  452.450012
2024-04-26   6897520.0  356.000000  356.000000  10986589  455.799988
2024-04-29   5777304.0  363.000000  363.000000  13652173  453.250000
2024-04-30   4807390.0  363.200012  363.200012  14566548  454.299988
2024-03-15         NaN  316.299988  316.299988  43285007  415.250000

Company                                  IOC
Info         Adj Close    Volume       Close   Adj Close     Volume
Date
2021-04-01   99.170990   6226087   62.099998   50.907909   22265911
2021-04-05   97.407463   9012457   60.500000   49.596272   25774072
2021-04-06   97.782684   6689423   60.766666   49.814880   16560441
2021-04-07   98.495605   5657926   61.799999   50.661972   20614233
2021-04-08   98.795776   9330363   61.966667   50.798607   19175106
...                ...       ...         ...         ...        ...
2024-04-25  452.450012  10858594  170.199997  170.199997   14757776
2024-04-26  455.799988   7209435  171.550003  171.550003   17306072
2024-04-29  453.250000   5305655  176.750000  176.750000   40527426
2024-04-30  454.299988   6021793  168.850006  168.850006   67530236
2024-03-15  415.250000  25435001  161.000000  161.000000  108719847

[760 rows x 30 columns]

In [10]:
returns = pd.DataFrame()
for stock in symbol_list:
    returns[stock+' Returns'] = combined_df[stock]['Adj Close'].pct_change()

In [11]:
returns.head()
#calculation of daily returns. 
#The daily percent changes is calculated using the 
#.pct_change(method) in a separate dataframe “returns”.

,SHREECEM Returns,ESCORTS Returns,CIPLA Returns,TATAMTRDVR Returns,GRASIM Returns,SUPREMEIND Returns,INDHOTEL Returns,NTPC Returns,COALINDIA Returns,IOC Returns
Date,,,,,,,,,,
2021-04-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-04-05,0.013565,-0.030376,0.001772,-0.002282,-0.005500,-0.005814,-0.038736,-0.014828,-0.017783,-0.025765
2021-04-06,-0.008042,-0.010766,0.020006,0.012581,-0.009644,-0.014360,0.010653,-0.002352,0.003852,0.004408
2021-04-07,0.003870,0.014607,0.005621,0.006024,0.003386,-0.002828,0.017874,-0.005658,0.007291,0.017005
2021-04-08,0.044723,0.024881,0.001368,0.023203,0.007235,0.003570,-0.019811,-0.004267,0.003048,0.002697

In [12]:
(returns.mean())*250

SHREECEM Returns     -0.028820
ESCORTS Returns       0.302819
CIPLA Returns         0.233086
TATAMTRDVR Returns    0.596615
GRASIM Returns        0.171066
SUPREMEIND Returns    0.293188
INDHOTEL Returns      0.609774
NTPC Returns          0.441119
COALINDIA Returns     0.519372
IOC Returns           0.415723
dtype: float64

In [13]:
returns.cov()*250

,SHREECEM Returns,ESCORTS Returns,CIPLA Returns,TATAMTRDVR Returns,GRASIM Returns,SUPREMEIND Returns,INDHOTEL Returns,NTPC Returns,COALINDIA Returns,IOC Returns
SHREECEM Returns,0.068322,0.009343,0.005849,0.029057,0.028686,0.015156,0.018642,0.015748,0.014385,0.013431
ESCORTS Returns,0.009343,0.102321,-0.001221,0.034986,0.016558,0.026933,0.017639,0.018886,0.018653,0.017883
CIPLA Returns,0.005849,-0.001221,0.054863,0.006190,0.002561,-0.002964,0.001356,0.000742,0.002234,-0.001193
TATAMTRDVR Returns,0.029057,0.034986,0.006190,0.165408,0.042839,0.032357,0.054352,0.042130,0.044857,0.037738
GRASIM Returns,0.028686,0.016558,0.002561,0.042839,0.060082,0.023694,0.027888,0.021844,0.024026,0.021958
SUPREMEIND Returns,0.015156,0.026933,-0.002964,0.032357,0.023694,0.124913,0.024251,0.022652,0.021925,0.019492
INDHOTEL Returns,0.018642,0.017639,0.001356,0.054352,0.027888,0.024251,0.115800,0.025231,0.029142,0.024152
NTPC Returns,0.015748,0.018886,0.000742,0.042130,0.021844,0.022652,0.025231,0.067472,0.041227,0.030231
COALINDIA Returns,0.014385,0.018653,0.002234,0.044857,0.024026,0.021925,0.029142,0.041227,0.095115,0.039302
IOC Returns,0.013431,0.017883,-0.001193,0.037738,0.021958,0.019492,0.024152,0.030231,0.039302,0.072624

#single run
np.random.seed(101)
weights = np.array(np.random.random(21))
print('Random weights')
print(weights)
print('Rebalanced weights')
weights = weights/np.sum(weights)
print('Portfolio return')
port_ret = np.sum(returns.mean()*250*weights)
print(port_ret)
print('Expected volatility')
port_vol = np.sqrt(np.dot(weights.T, np.dot(returns.cov()*250,weights)))
print(port_vol)
print('Sharpe Ratio')
SR = (port_ret - 0.075)/port_vol
print(SR)

In [14]:
sim = 5000
all_weights = np.zeros((sim, len(symbol_list)))
ret_arr = np.zeros(sim)
vol_arr = np.zeros(sim)
sharpe_arr = np.zeros(sim)

for i in range(sim):
    weights = np.array(np.random.random(10))
    weights = weights/np.sum(weights)
    all_weights[i,:] = weights
    ret_arr[i] = np.sum(returns.mean()*250*weights)
    vol_arr[i] = np.sqrt(np.dot(weights.T,np.dot(returns.cov()*250,weights)))
    sharpe_arr[i] = (ret_arr[i] - 0.075)/vol_arr[i]

In [15]:
sharpe_arr.max()

2.0096724452630363

In [16]:
sharpe_arr.argmax()

4308

In [17]:
weights = all_weights[4308,:]
weights

array([0.00775631, 0.078387  , 0.21703493, 0.08349975, 0.04604842,
       0.01087555, 0.17086013, 0.15481372, 0.03530923, 0.19541496])

In [18]:
df = pd.DataFrame({
    'Symbol': symbol_list,
    'Weight': weights
})

# Sort the DataFrame by the weight values
df_sorted = df.sort_values(by='Weight', ascending=False)

# Display the sorted DataFrame
print(df_sorted)

       Symbol    Weight
2       CIPLA  0.217035
9         IOC  0.195415
6    INDHOTEL  0.170860
7        NTPC  0.154814
3  TATAMTRDVR  0.083500
1     ESCORTS  0.078387
4      GRASIM  0.046048
8   COALINDIA  0.035309
5  SUPREMEIND  0.010876
0    SHREECEM  0.007756

In [19]:
stocks = df_sorted['Symbol'].tolist()
stocks

['CIPLA',
 'IOC',
 'INDHOTEL',
 'NTPC',
 'TATAMTRDVR',
 'ESCORTS',
 'GRASIM',
 'COALINDIA',
 'SUPREMEIND',
 'SHREECEM']

In [20]:
prices = []
start_date = '2020-04-01'
for symbol in stocks:
        # Fetch historical data from Yahoo Finance
        data = yf.download(symbol+".NS", start="2020-04-01", end='2020-04-02')
        price_april2020 = data.loc[start_date]['Adj Close']
        prices.append(price_april2020)
df_prices = pd.DataFrame({'Symbol': stocks, 'Price_April2020': prices})

# Display the prices
print(df_prices)

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

       Symbol  Price_April2020
0       CIPLA       402.862854
1         IOC        37.269245
2    INDHOTEL        68.655151
3        NTPC        63.053024
4  TATAMTRDVR        29.658888
5     ESCORTS       588.863770
6      GRASIM       466.172974
7   COALINDIA        95.255981
8  SUPREMEIND       801.269592
9    SHREECEM     16353.195312

In [21]:
prices=[]

In [22]:
start_date = '2024-05-02'
for symbol in stocks:
        # Fetch historical data from Yahoo Finance
        data = yf.download(symbol+".NS", start="2024-05-02", end='2024-05-03')
        price_2024 = data.loc[start_date]['Adj Close']
        prices.append(price_2024)
df_prices2 = pd.DataFrame({'Symbol': stocks, 'Price_2024': prices})

# Display the prices
print(df_prices2)

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

       Symbol    Price_2024
0       CIPLA   1420.050049
1         IOC    166.441727
2    INDHOTEL    574.422058
3        NTPC    369.049988
4  TATAMTRDVR    689.768127
5     ESCORTS   3464.544434
6      GRASIM   2437.350098
7   COALINDIA    453.899994
8  SUPREMEIND   4794.834961
9    SHREECEM  24827.199219

In [23]:
combined_df = pd.merge(df_prices, df_prices2, on='Symbol')

In [24]:
combined_df = pd.merge(df_sorted, combined_df, on='Symbol')

In [25]:
combined_df

       Symbol    Weight  Price_April2020    Price_2024
0       CIPLA  0.217035       402.862854   1420.050049
1         IOC  0.195415        37.269245    166.441727
2    INDHOTEL  0.170860        68.655151    574.422058
3        NTPC  0.154814        63.053024    369.049988
4  TATAMTRDVR  0.083500        29.658888    689.768127
5     ESCORTS  0.078387       588.863770   3464.544434
6      GRASIM  0.046048       466.172974   2437.350098
7   COALINDIA  0.035309        95.255981    453.899994
8  SUPREMEIND  0.010876       801.269592   4794.834961
9    SHREECEM  0.007756     16353.195312  24827.199219

In [26]:
portfolio_value = 10000000
combined_df['Investment'] = combined_df['Weight'] * portfolio_value
combined_df['Shares'] = (combined_df['Investment'] / combined_df['Price_April2020']).astype(int)

# Calculate the value of each stock on 1st June 2024
combined_df['Value_2024'] = combined_df['Shares'] * combined_df['Price_2024']

# Calculate total investment used and remaining cash
total_investment_used = (combined_df['Shares'] * combined_df['Price_April2020']).sum()
remaining_cash = portfolio_value - total_investment_used

# Calculate total portfolio value in June 2024 and profit/loss
total_value_2024 = combined_df['Value_2024'].sum()
profit_loss = total_value_2024 - total_investment_used

In [27]:
combined_df

,Symbol,Weight,Price_April2020,Price_2024,Investment,Shares,Value_2024
0,CIPLA,0.217035,402.862854,1420.050049,2.170349e+06,5387,7.649810e+06
1,IOC,0.195415,37.269245,166.441727,1.954150e+06,52433,8.727039e+06
2,INDHOTEL,0.170860,68.655151,574.422058,1.708601e+06,24886,1.429507e+07
3,NTPC,0.154814,63.053024,369.049988,1.548137e+06,24552,9.060915e+06
4,TATAMTRDVR,0.083500,29.658888,689.768127,8.349975e+05,28153,1.941904e+07
5,ESCORTS,0.078387,588.863770,3464.544434,7.838700e+05,1331,4.611309e+06
6,GRASIM,0.046048,466.172974,2437.350098,4.604842e+05,987,2.405665e+06
7,COALINDIA,0.035309,95.255981,453.899994,3.530923e+05,3706,1.682153e+06
8,SUPREMEIND,0.010876,801.269592,4794.834961,1.087555e+05,135,6.473027e+05
9,SHREECEM,0.007756,16353.195312,24827.199219,7.756308e+04,4,9.930880e+04

In [28]:
# Display the final DataFrame and summary
print(combined_df)
print("\nSummary:")
print(f"Total Investment Used: Rs.{total_investment_used:.2f}")
print(f"Remaining Cash: Rs.{remaining_cash:.2f}")
print(f"Total Portfolio Value in June 2024: Rs.{total_value_2024:.2f}")
print(f"Total Profit: Rs.{profit_loss:.2f}")
print(f"Total Profit %: {profit_loss/total_investment_used*100:.2f}")

       Symbol    Weight  Price_April2020    Price_2024    Investment  Shares  \
0       CIPLA  0.217035       402.862854   1420.050049  2.170349e+06    5387
1         IOC  0.195415        37.269245    166.441727  1.954150e+06   52433
2    INDHOTEL  0.170860        68.655151    574.422058  1.708601e+06   24886
3        NTPC  0.154814        63.053024    369.049988  1.548137e+06   24552
4  TATAMTRDVR  0.083500        29.658888    689.768127  8.349975e+05   28153
5     ESCORTS  0.078387       588.863770   3464.544434  7.838700e+05    1331
6      GRASIM  0.046048       466.172974   2437.350098  4.604842e+05     987
7   COALINDIA  0.035309        95.255981    453.899994  3.530923e+05    3706
8  SUPREMEIND  0.010876       801.269592   4794.834961  1.087555e+05     135
9    SHREECEM  0.007756     16353.195312  24827.199219  7.756308e+04       4

     Value_2024
0  7.649810e+06
1  8.727039e+06
2  1.429507e+07
3  9.060915e+06
4  1.941904e+07
5  4.611309e+06
6  2.405665e+06
7  1.682153e+06
8  6.473027e+05
9  9.930880e+04

Summary:
Total Investment Used: Rs.9986470.39
Remaining Cash: Rs.13529.61
Total Portfolio Value in June 2024: Rs.68597611.48
Total Profit: Rs.58611141.09
Total Profit %: 586.91

In [29]:
prices = []

In [30]:
start_date = '2024-05-02'
for symbol in stocks:
        # Fetch historical data from Yahoo Finance
        data = yf.download(symbol+".NS", start="2024-05-02", end='2024-05-03')
        price_2024 = data.loc[start_date]['Adj Close']
        prices.append(price_2024)
df_prices2 = pd.DataFrame({'Symbol': stocks, 'Price_May2024': prices})

# Display the prices
print(df_prices2)

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

       Symbol  Price_May2024
0       CIPLA    1420.050049
1         IOC     166.441727
2    INDHOTEL     574.422058
3        NTPC     369.049988
4  TATAMTRDVR     689.768127
5     ESCORTS    3464.544434
6      GRASIM    2437.350098
7   COALINDIA     453.899994
8  SUPREMEIND    4794.834961
9    SHREECEM   24827.199219

In [32]:
prices = []
start_date = '2024-06-03'
for symbol in stocks:
        # Fetch historical data from Yahoo Finance
        data = yf.download(symbol+".NS", start="2024-06-03", end='2024-06-04')
        price_2024 = data.loc[start_date]['Adj Close']
        prices.append(price_2024)
df_prices3 = pd.DataFrame({'Symbol': stocks, 'Price_2024': prices})

# Display the prices
print(df_prices3)

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

       Symbol    Price_2024
0       CIPLA   1452.349976
1         IOC    168.265488
2    INDHOTEL    574.770996
3        NTPC    391.799988
4  TATAMTRDVR    632.640015
5     ESCORTS   3873.294678
6      GRASIM   2368.800049
7   COALINDIA    512.349976
8  SUPREMEIND   5547.382812
9    SHREECEM  25309.250000

In [33]:
combined_df = pd.merge(df_prices2, df_prices3, on='Symbol')

In [34]:
combined_df = pd.merge(df_sorted, combined_df, on='Symbol')

In [35]:
combined_df

       Symbol    Weight  Price_May2024    Price_2024
0       CIPLA  0.217035    1420.050049   1452.349976
1         IOC  0.195415     166.441727    168.265488
2    INDHOTEL  0.170860     574.422058    574.770996
3        NTPC  0.154814     369.049988    391.799988
4  TATAMTRDVR  0.083500     689.768127    632.640015
5     ESCORTS  0.078387    3464.544434   3873.294678
6      GRASIM  0.046048    2437.350098   2368.800049
7   COALINDIA  0.035309     453.899994    512.349976
8  SUPREMEIND  0.010876    4794.834961   5547.382812
9    SHREECEM  0.007756   24827.199219  25309.250000

In [36]:
portfolio_value = 10000000
combined_df['Investment'] = combined_df['Weight'] * portfolio_value
combined_df['Shares'] = (combined_df['Investment'] / combined_df['Price_May2024']).astype(int)

# Calculate the value of each stock on 1st June 2024
combined_df['Value_2024'] = combined_df['Shares'] * combined_df['Price_2024']

# Calculate total investment used and remaining cash
total_investment_used = (combined_df['Shares'] * combined_df['Price_May2024']).sum()
remaining_cash = portfolio_value - total_investment_used

# Calculate total portfolio value in June 2024 and profit/loss
total_value_2024 = combined_df['Value_2024'].sum()
profit_loss = total_value_2024 - total_investment_used

In [37]:
# Display the final DataFrame and summary
print(combined_df)
print("\nSummary:")
print(f"Total Investment Used: Rs.{total_investment_used:.2f}")
print(f"Remaining Cash: Rs.{remaining_cash:.2f}")
print(f"Total Portfolio Value in June 2024: Rs.{total_value_2024:.2f}")
print(f"Total Profit: Rs.{profit_loss:.2f}")
print(f"Total Profit %: {profit_loss/total_investment_used*100:.2f}")

       Symbol    Weight  Price_May2024    Price_2024    Investment  Shares  \
0       CIPLA  0.217035    1420.050049   1452.349976  2.170349e+06    1528
1         IOC  0.195415     166.441727    168.265488  1.954150e+06   11740
2    INDHOTEL  0.170860     574.422058    574.770996  1.708601e+06    2974
3        NTPC  0.154814     369.049988    391.799988  1.548137e+06    4194
4  TATAMTRDVR  0.083500     689.768127    632.640015  8.349975e+05    1210
5     ESCORTS  0.078387    3464.544434   3873.294678  7.838700e+05     226
6      GRASIM  0.046048    2437.350098   2368.800049  4.604842e+05     188
7   COALINDIA  0.035309     453.899994    512.349976  3.530923e+05     777
8  SUPREMEIND  0.010876    4794.834961   5547.382812  1.087555e+05      22
9    SHREECEM  0.007756   24827.199219  25309.250000  7.756308e+04       3

     Value_2024
0  2.219191e+06
1  1.975437e+06
2  1.709369e+06
3  1.643209e+06
4  7.654944e+05
5  8.753646e+05
6  4.453344e+05
7  3.980959e+05
8  1.220424e+05
9  7.592775e+04

Summary:
Total Investment Used: Rs.9988465.75
Remaining Cash: Rs.11534.25
Total Portfolio Value in June 2024: Rs.10229465.21
Total Profit: Rs.240999.45
Total Profit %: 2.41